.sec-one {
	padding:60px 0px 0px 0px;
	color:#dddddd;
}
.sec-one__title {
	text-align:center;
}
.sec-one__line {
}
.sec-one__row {
	display:flex;
	padding:60px 0px 0px 0px;
	margin:0 -20px;
}
.sec-one__left {
	flex-basis:70%;
	display:flex;
	flex-direction:column;
	padding:0 20px;
}
.sec-one__image {
	border-bottom:4px solid rgb(172,26,26);
}
.sec-one__image img {
	display:block;
	width:100%;
	height:450px;
	object-fit:cover;
}
.sec-one-l__title {
	margin:40px 0px 0px 0px;
}
.sec-one__text {
	margin:20px 0px 60px 0px;
}
.sec-one__text span,.sec-one-r__text span {
	text-transform:uppercase;
	font-family:h;
}
.sec-one__l_priceRow {
	display:flex;
}
.sec-one__priceRow__left {
	flex-basis:50%;
}
.sec-one__priceRow__left img {
	display:block;
	width:100%;
}
.sec-one__priceRow__right {
	flex-basis:50%;
	height:100%;
	background-color:#FD3C3D;
	padding:70px 0px 0px 140px;
}
.sec-one-priceRow-r__title {
	margin:0px 0px 10px 0px;
}
.sec-one-priceRow-r__list li {
	margin:10px 0px 0px 0px;
	font-size:22px;
	color:rgb(255,255,255);
}
.sec-one-priceRow-r__list span {
	display:inline-block;
	position:relative;
	top:1px;
	font-family:h;
	color:rgb(255,255,255);
}
.sec-one-priceRow-r__list span::before {
	content:'';
	position:absolute;
	top:6px;
	left:50px;
	background:url('../../../assets/img/icons/rouble-icon.svg') 0px 0px no-repeat;
	width:30px;
	height:30px;
	background-size:50%;
}
.sec-one__right {
	flex-basis:30%;
	padding:0 20px;
}
.sec-one-r__image {
	border-bottom:4px solid rgb(172,26,26);
}
.sec-one-r__image img {
	display:block;
	width:100%;
	height:450px;
	object-fit:cover;
}
.sec-one-r__title {
	margin:50px 0px 0px 0px;
}
.sec-one-r__subtitle {
	font-family:h;
	text-transform:uppercase;
	font-size:12px;
	color:#FD3C3D;
	margin:10px 0px 0px 0px;
}
.sec-one-r__text {
	margin:20px 0px 0px 0px;
}
@media screen and (max-width:1650px) {
	.sec-one__priceRow__right {
	padding:50px 0px 0px 80px;
}
}
@media screen and (max-width:1350px) {
	.sec-one__priceRow__right {
	padding:50px 0px 0px 60px;
}
.sec-one-priceRow-r__title {
	margin:0px 0px 10px 0px;
	font-size:16px;
}
.sec-one-priceRow-r__list li {
	margin:10px 0px 0px 0px;
	font-size:16px;
	color:rgb(255,255,255);
}
.sec-one-priceRow-r__list span::before {
	top:3px;
	left:35px;
	background-size:40%;
}
.sec-one__image img,.sec-one-r__image img {
	height:300px;
}
}
@media screen and (max-width:1200px) {
	.sec-one__priceRow__right {
	padding:35px 0px 0px 30px;
}
}
@media screen and (max-width:1050px) {
	.sec-one__priceRow__right {
	padding:20px 0px 0px 30px;
}
}
@media screen and (max-width:900px) {
	.sec-one__left {
	flex-basis:60%;
}
.sec-one__right {
	flex-basis:40%;
}
.sec-one__priceRow__right {
	padding:20px 20px 20px 40px;
}
.sec-one__l_priceRow {
	display:flex;
	flex-direction:column;
}
.sec-one__image img,.sec-one-r__image img {
	height:250px;
}
}
@media screen and (max-width:700px) {
	.sec-one {
	padding:40px 0px 0px 0px;
	color:#dddddd;
}
.sec-one__row {
	padding:40px 0px 0px 0px;
}
.sec-one__text span,.sec-one-r__text span {
	font-size:14px;
	line-height:120%;
}
.sec-one__image img,.sec-one-r__image img {
	height:200px;
}
}
@media screen and (max-width:600px) {
	.sec-one__row {
	display:flex;
	flex-direction:column;
	padding:30px 0px 0px 0px;
	margin:0 -20px;
}
.sec-one-r__image {
	margin:40px 0px 0px 0px;
}
.sec-one__image img,.sec-one-r__image img {
	height:100%;
}
}
@media screen and (max-width:500px) {
	.sec-one {
	padding:20px 0px 0px 0px;
}
.sec-one-l__title,.sec-one-r__title {
	margin:20px 0px 0px 0px;
}
.sec-one-r__title {
	font-size:16px;
}
}